<?xml version="1.0" encoding="utf-8"?>
<openas2 _CryptoVerifyUseCertificateInBodyPart="false"
         CryptoSignIncludeCertificateInBodyPart="false">

  <certificates classname="com.helger.as2.app.cert.ServerCertificateFactory"
                type="pkcs12"
                filename="%home%/keystore.p12"
                password="password"
                interval="300"/>

  <partnerships classname="com.helger.as2.app.partner.ServerXMLPartnershipFactory"
                filename="%home%/partnerships.xml"/>

  <processor classname="com.helger.as2lib.processor.DefaultMessageProcessor"
             pendingMDN="%home%/../../data/OpenAS2A/pendingMDN3"
             pendingMDNinfo="%home%/../../data/OpenAS2A/pendinginfoMDN3">

    <module classname="com.helger.as2lib.processor.sender.AS2SenderModule"/>

    <!-- This will parse the filename to get a sender and receiver. For instance a file
      named OpenAS2A-OpenAS2B.1234 would be sent from OpenAS2A to OpenAS2B. -->
    <!--    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"-->
    <!--            outboxdir="%home%/../../data/OpenAS2A/toAny"-->
    <!--            errordir="%home%/../../data/OpenAS2A/toAny/error"-->
    <!--            interval="5"-->
    <!--            delimiters="-."-->
    <!--            format="sender.as2_id, receiver.as2_id, attributes.fileid"-->
    <!--            mimetype="text/plain"/>-->

    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="%home%/../../data/text/OpenAS2A/toOpenAS2B"
            errordir="%home%/../../data/text/OpenAS2A/toOpenAS2B/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2A, receiver.as2_id=OpenAS2B"
            sendFilename="true"
            mimetype="text/plain"/>

    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="%home%/../../data/text/OpenAS2A/toAs2ng"
            errordir="%home%/../../data/text/OpenAS2A/toAs2ng/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2A, receiver.as2_id=As2ng"
            sendFilename="true"
            mimetype="text/plain"/>

    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="%home%/../../data/edi-x12/OpenAS2A/toAs2ng"
            errordir="%home%/../../data/edi-x12/OpenAS2A/toAs2ng/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2A, receiver.as2_id=As2ng"
            sendFilename="true"
            mimetype="application/edi-x12"/>

    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="%home%/../../data/edi-x12/OpenAS2A/toAs2ng"
            errordir="%home%/../../data/edi-x12/OpenAS2A/toAs2ng/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2A, receiver.as2_id=As2ng"
            sendFilename="true"
            mimetype="application/edi-x12"/>

    <module classname="com.helger.as2lib.processor.storage.MDNFileModule"
            filename="%home%/../../data/OpenAS2A/mdn/$date.uuuu$/$date.MM$/$mdn.msg.sender.as2_id$-$mdn.msg.receiver.as2_id$-$mdn.msg.headers.message-id$"
            protocol="as2"
            tempdir="%home%/../../data/OpenAS2A/temp"
            charset="utf-8"/>

    <module classname="com.helger.as2lib.processor.storage.MessageFileModule"
            filename="%home%/../../data/OpenAS2A/inbox/$msg.sender.as2_id$-$msg.receiver.as2_id$-$msg.headers.message-id$"
            header="%home%/../../data/OpenAS2A/inbox/msgheaders/$date.uuuu$/$date.MM$/$msg.sender.as2_id$-$msg.receiver.as2_id$-$msg.headers.message-id$"
            protocol="as2"
            tempdir="%home%/../../data/OpenAS2A/temp"
            charset="utf-8"/>

    <module classname="com.helger.as2lib.processor.receiver.AS2ReceiverModule"
            port="10080"
            errordir="%home%/../../data/OpenAS2A/inbox/error"
            errorformat="$msg.sender.as2_id$, $msg.receiver.as2_id$, $msg.headers.message-id$"/>

    <module classname="network.as2.server.receiver.net.AS2MDNReceiverModule"
            port="10081"/>

    <module classname="com.helger.as2lib.processor.resender.DirectoryResenderModule"
            resenddir="%home%/../../data/OpenAS2A/resend"
            errordir="%home%/../../data/OpenAS2A/resend/error"
            resenddelay="60"/>

  </processor>
</openas2>
