<?xml version="1.0" encoding="utf-8"?>
<openas2 _CryptoVerifyUseCertificateInBodyPart="false"
         _CryptoSignIncludeCertificateInBodyPart="false">

  <certificates classname="com.helger.as2.app.cert.ServerCertificateFactory"
                type="pkcs12"
                filename="%home%\keystore.p12"
                password="password"
                interval="300"/>

  <partnerships classname="com.helger.as2.app.partner.ServerXMLPartnershipFactory"
                filename="%home%\partnerships.xml"/>

  <processor classname="com.helger.as2lib.processor.DefaultMessageProcessor"
             pendingMDN="as2-data/openas2a/data/pendingMDN3"
             pendingMDNinfo="as2-data/openas2a/data/pendinginfoMDN3">
    <module classname="com.helger.as2lib.processor.sender.AS2SenderModule"/>

    <!-- This will parse the filename to get a sender and receiver. For instance a file
      named OpenAS2A-OpenAS2B.1234 would be sent from OpenAS2A to OpenAS2B. -->
    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="as2-data/openas2a/data/toAny"
            errordir="as2-data/openas2a/data/toAny/error"
            interval="5"
            delimiters="-."
            format="sender.as2_id, receiver.as2_id, attributes.fileid"
            mimetype="text/plain"/>
    <!--  Special directory for sending messages to "OpenAS2A" -->
    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="as2-data/openas2a/data/toOpenAS2A/"
            errordir="as2-data/openas2a/data/toOpenAS2A/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2B, receiver.as2_id=OpenAS2A"
            mimetype="text/plain"/>
    <!--  Special directory for sending messages to "OpenAS2B" -->
    <module classname="com.helger.as2lib.processor.receiver.AS2DirectoryPollingModule"
            outboxdir="as2-data/openas2a/data/toOpenAS2B"
            errordir="as2-data/openas2a/data/toOpenAS2B/error"
            interval="5"
            defaults="sender.as2_id=OpenAS2A, receiver.as2_id=OpenAS2B"
            sendFilename="true"
            mimetype="text/plain"/>
    <module classname="com.helger.as2lib.processor.storage.MDNFileModule"
            filename="as2-data/openas2a/data/mdn/$date.uuuu$/$date.MM$/$mdn.msg.sender.as2_id$-$mdn.msg.receiver.as2_id$-$mdn.msg.headers.message-id$"
            protocol="as2"
            tempdir="as2-data/openas2a/data/temp"
            charset="utf-8"/>
    <module classname="com.helger.as2lib.processor.storage.MessageFileModule"
            filename="as2-data/openas2a/data/inbox/$msg.sender.as2_id$-$msg.receiver.as2_id$-$msg.headers.message-id$"
            header="as2-data/openas2a/data/inbox/msgheaders/$date.uuuu$/$date.MM$/$msg.sender.as2_id$-$msg.receiver.as2_id$-$msg.headers.message-id$"
            protocol="as2"
            tempdir="as2-data/openas2a/data/temp"
            charset="utf-8"/>
    <module classname="com.helger.as2lib.processor.receiver.AS2ReceiverModule"
            port="10080"
            errordir="as2-data/openas2a/data/inbox/error"
            errorformat="$msg.sender.as2_id$, $msg.receiver.as2_id$, $msg.headers.message-id$"/>
    <module classname="com.helger.as2lib.processor.receiver.AS2MDNReceiverModule"
            port="10081"/>
    <module classname="com.helger.as2lib.processor.resender.DirectoryResenderModule"
            resenddir="as2-data/openas2a/data/resend"
            errordir="as2-data/openas2a/data/resend/error"
            resenddelay="60"/>
  </processor>
</openas2>
